* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f3f3;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background: #007BFF;
    color: white;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.action-btn {
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
}

.edit {
    background: #28a745;
}

.delete {
    background: #dc3545;
}

@media (max-width: 600px) {

    /* Formulario en columna */
    form {
        flex-direction: column;
    }

    button {
        width: 100%;
    }

    .container {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    table th, table td {
        padding: 8px;
        font-size: 14px;
    }
}